<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.cadenaConeccion_DB_PYME" connectionString="Data Source=ALVARO\SQLEXPRESS;Initial Catalog=DB_PYME;User ID=PYME;Password=Mercedes280880.04;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>